<%= form_with(model: featuring, local: true) do |form| %>
  <% if featuring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(featuring.errors.count, "error") %> prohibited this featuring from being saved:</h2>

      <ul>
        <% featuring.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :featurable_id %>
    <%= form.text_field :featurable_id %>
  </div>

  <div class="field">
    <%= form.label :featurable_type %>
    <%= form.text_field :featurable_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :raw %>
    <%= form.text_field :raw %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
