<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @membership.description %>
</p>

<p>
  <strong>Raw:</strong>
  <%= @membership.raw %>
</p>

<p>
  <strong>Membershipable:</strong>
  <%= @membership.membershipable_id %>
</p>

<p>
  <strong>Membershipable type:</strong>
  <%= @membership.membershipable_type %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
